
/* User Profile */
.user{
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
/* Create Post Form */
.create-post-form{
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.create-post-form input{
  margin: 1%;
}
