.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
  background-image: url(./Assets/background.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.field-container {
  margin-top: 20px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  color: black;
  border: 1px solid black;
  background-color: #ead7d3;
  margin-bottom: 32px;
}

.button {
  max-width: 150px;
  margin-top: 25px;
  padding: 12px 20px;
  border-style: none;
  border: 1px solid;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  align-self: center;
  padding: 32px;
  font-weight: bold;
  background-color: #f2f2f2;
}

.register-form {
  width: 100%;
  margin: 0 auto;
  align-self: center;
  font-weight: bold;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.register-field {
  margin-top: 20px;
  padding: 0.5rem;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 16px;
  display: block;
  color: black;
  border: 1px solid black;
  background-color: #ead7d3;
  margin-bottom: 32px;
}

.card-container {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 20px;
}

.wedding-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.wedding-card:hover {
  transform: rotateY(180deg);
}

.wedding-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #f2f2f2;
  border-radius: 10px;
}

.wedding-card-front img {
  height: 70%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wedding-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ead7d3;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.text-container {
  margin-top: 22%;
}
